.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #0D0117;
  border: 4px solid #B378FF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: white;
  z-index: 1000;
  transition: all 0.3s ease;
}

.chat-container.open {
  height: 400px;
}

.chat-messages {
  height: 200px;
  overflow-y: auto;
  padding: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 5px;
  color:  #B378FF;
  font-size: 14px;
}

.userPhoto {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.chat-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.caixa_msg {
  outline: none;
  height: 70px;
  padding: 8px;
  border: 2px solid  #B378FF ;
  border-radius: 8px;
  font-size: 14px;
}

.botao_enviar {
  background-color: #B378FF !important;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao_enviar:hover {
  background-color: #B378FF;
}

.chat-button {
  background-color:  #B378FF;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-button:hover {
  background-color: #B378FF;
}

.chat-button svg {
  font-size: 24px;
}
