.container_page {
    margin: 30px;
    justify-content: space-between;
    display: flex;
}

.lateral {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed {
    width: 60%;
}

@media (max-width: 660px) {
    .container_page {
        flex-direction: column; 
    }

    .lateral,
    .feed {
        width: 100%; 
    }
}

@media (min-width: 661px) and (max-width: 1087px) {
    .container_page {
        justify-content: flex-end; 
    }

    .lateral {
        width: 30%; 
    }

    .feed {
        width: 70%;
    }
}
