.container_page {
    margin: 30px; 
    justify-content: space-between;
    display: flex;
}

.lateral {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.feed {
    width: 60%;
}



@media (min-width: 661px) and (max-width: 1087px) {
    .container_page {
        justify-content: flex-end; 
    }

  
    .feed {
        width: 70%;
    }
}

.lateral_direita {
    padding-left: 22px;
}

.lateral_esquerda {
    padding-right: 70px;
}

@media (max-width: 670px) {
    .lateral,
    .lateral_direita,
    .lateral_esquerda {
        display: none;
    }

    .feed {
        width: 100%;
    }
}