.lista_aula {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #B378FF 2%, #d478ff 98%);
    padding: 10px;
    border-left: 5px solid #0D0117;
}

.titulo {
    color: #fff;
}

.lista_aula  .botao_assistir {
    background-color: #0D0117 !important;
    color: #fff;
}

.lista_aula  .botao_assistir:hover {
    background: linear-gradient(180deg, #0D0117 95%, white 5%);
}



.descricao {
    background-color: #0D0117;
    color: #fff;
}

.modal_estilo {
    background-color: #d478ff3b ;
}

.caixa_aula {
    background-color: #0D0117;
    border-right: 10px solid #B378FF;
    color: white;
}