.lista_aula {
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #B378FF 2%, #d478ff 98%);
    padding: 10px;
    border-left: 5px solid #0D0117;
}

.titulo {
    color: #fff;
}

.assistir {
    background-color: #0D0117;
    color: #fff;
}

.descricao {
    background-color: #0D0117;
    color: #fff;
}

.aula {
    background-color: #0D0117;
    color: #fff;
    display: block;
    padding-bottom: 7px;
}