.main_container {
    width: 50%;
    display: flex;
    height: 80vh;
    justify-content: flex-end;
}

.main_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: auto;
    width: 60%;
    height: 90%;
    padding: 10px;
    border-radius: 35px;
    margin-right: 70px;
    background-color: #fff;
    border: 1px solid #B378FF;
}

.cabecalho_fomulario {
    text-align: center;
    margin-bottom: 10px;
}

.cabecalho_fomulario .titulo {
    font-size: 40px;
}

.formulario input {
    border: 1px solid #B378FF;
    border-radius: 15px;
    padding: 3px;
    height: 40px;
    margin-bottom: 15px;
    width: 100%;
}

.formulario input:focus {
    border: 1px solid #B378FF;
    box-shadow: none;
    outline: 1px solid #c89dff;
}

.botao_formulario {
    width: 200px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    color: #B378FF;
    border: 1px solid #B378FF;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao_formulario:hover {
    background-color: #B378FF;
    border: 1px solid #B378FF;
    color: #fff;
    cursor: pointer;
}

.container_footer {
    margin-top: 20px;
}

.container_footer .texto_footer {
    font-size: 15px;
    text-align: center;
    right: 0;
}

@media screen and (max-width: 930px) {
    .main_container {
        width: 100%;
        justify-content: center;
       
        align-items: center;
    }

    .main_form {
        width: 80%;
        margin-right: 0;
    }
}