.containerNav {
    min-width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: none;
}

.estilo_nav {
    margin-top: 10px;
    border-radius: 10px 0px 0px 0px;
    width: 95%;
    padding: 10px;
    background-color:#0D0117;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.estilo_icon {
    font-size: 33px;
}
.estilo_link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 160px;
    height: 50px;
    border-radius: 3px;
    gap: 3px;
    font-size: 24px;
    color: #B378FF;
    margin-left: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}




.estilo_link:hover {
    background: linear-gradient(90deg,  #ffffff 95%, #B378FF 5%);
    color: #B378FF ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}