.userNavbar,
.navBarInferior {
    padding: 8px 40px;
}

.userNavbar {
    background-color: #0D0117;
    display: flex;
    justify-content: space-between;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userName {
    color: white;
}

.navBarInferior {
    background: linear-gradient(180deg, #B378FF 2%, #d478ff 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.3s;
}

.navSocialLinks {
    display: flex;
    gap: 30px;
}

.navSocialLinks .icon {
    color: white;
}

.navSocialLinks .estilo_link {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar input {
    height: 30px;
    border-radius: 10px;
    padding: 3px;
    border: none;
    box-shadow: 2px 2px 4px #0d01170e;
}

.searchBar input:focus {
   outline: none;
}

.searchBar .searchIcon {
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #0d01170e;
}

@media (max-width: 700px) {
    .searchBar,
    .searchBar .searchIcon {
        display: none;
    }

    .navSocialLinks {
        gap: 10px;
    }
}

@media (max-width: 395px) {
    .userName {
        display: none;
    }
}
