.container_foto {
    width: 100%;
    height: 160px;
}

.foto {
    width: auto;
    height: 160px;
}

@media (max-width: 920px) {
    .foto {
        display: none; 
    }
}

@media (max-width: 920px) {
    .status {
        display: none; 
    }
}
