

.caixa_status {
    background-color:#0D0117;
    border-radius: 3px;
    border-bottom: 10px solid #B378FF;

}

.nome_status {
    color: #B378FF;
    font-size: 20px !important;
    text-align: center;
}

.texto_status {
    color: white;
    font-size: 18px !important;
    text-align: center;
}

.iconstatus {
    color: #fff;
}
@media (max-width: 920px) {
    .status {
        display: none; 
    }
}
